.taskList {
  border: 2px solid #ffcccb;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

.taskList h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #ddd;
  background-color: #f0f0f0;
  color: #333;
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.listHeader span {
  flex: 1;
  text-align: center;
  min-width: 100px; /* Garante que cada coluna tenha uma largura mínima */
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.listItem span {
  flex: 1;
  text-align: center;
  min-width: 100px; /* Garante que cada coluna tenha uma largura mínima */
}

.listItem:nth-child(odd) {
  background-color: #f9f9f9;
}

.listItem:last-child {
  border-bottom: none;
}

/* Estilização dos ícones de ação */
.actionIcons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon {
  cursor: pointer;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: fill 0.2s ease;
}

.icon:hover {
  fill: #000;
}

/* Responsividade */
@media (max-width: 768px) {
  .listHeader,
  .listItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .listHeader span,
  .listItem span {
    text-align: left;
    width: 100%; /* Expande as colunas para 100% da largura em telas pequenas */
    min-width: auto; /* Remove a largura mínima para permitir a expansão total */
  }

  .actionIcons {
    justify-content: flex-start; /* Alinha os ícones à esquerda em telas pequenas */
  }
}
